.edit {
    & > h2 { 
      font-size: 1.4rem;
      margin: 0;
      text-transform: uppercase;
    }
    & > .row {
      margin-bottom: 0;
    }
    .collection {
        border: 0;
        .collection-item {
            background-color: transparent;
            border: 0;
            padding: 0;
        }
    }
}

.edit,.intro {
    .flex-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      .input-items {
        &.icon { 
          width: 50px;
          i {
            color: #f50057;
            font-size: 2.8rem;
          }
        }
        width: calc( 100% - 50px );
      }
    }
    .input-field {
      padding: 0;
      & > label:not(.label-icon).active {
        -webkit-transform: translate(0px, 0px) scale(0.4);
        transform: translate(0px, 0px) scale(0.4);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
      }
      input,label {
        font-size: 2rem;
      }
      label {
        left: 2rem;
      }
      input {
        height: 4.875rem;
        background: white;
        display: inline-block;
        box-sizing: border-box;
        padding: 0 2rem;
        border: 1px solid #9e9e9e;        
        border-right: 0px;
        border-radius: 1rem 0 0 1rem;
        box-shadow: none;
        }
        & + button.btn {
        box-shadow: none;
        margin: 1rem 0;
        height: 4.875rem;
        font-size: 2rem;
        border-radius: 0 1rem 1rem 0;
        i {
          font-size: 2rem;
          }
      }
    }
}